
@{
	ViewBag.Title = "Index";
	Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}




<div>
	<img src="https://htsport.vn/wp-content/uploads/2021/09/banner-9-scaled.jpg"/>
<!-- /.container-fluid -->
      </div>